<h2 align="center">Users</h2>

<ul class="container list-group rounded">
  <% User.all.each do |user| %>
    <li class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= user.name %></h5>
        <small>posts: <%= user.posts.count %></small>
      </div>
      <p>
        <i>E-mail:</i> <%= user.email %><br>
        <i>Registered:</i> <%= user.created_at.localtime %>
      </p>
    </li>
  <% end %>
</ul>


