<h2 align="center">Posts</h2>

<ul class="container list-group rounded">
  <% Post.all.each do |post| %>
    <a class="list-group-item list-group-item-action" href="<%= post_path(post) %>">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= post.title %></h5>
        <% if user_signed_in? %>
          <small>author: <%= post.user.name %></small>
        <% end %>
      </div>
      <p>
        <%= post.body.first(200) %>
        <% if post.body.length > 200 %>
          ...
        <% end %>
      </p>
    </a>
  <% end %>
</ul>